<section class="container">
    <section class="section-um">
    <div class="section-um-um">
        <p class="section-um-titulo">
            Bem-vindo à Livrolandia - Sua Biblioteca Digital
        </p>
        <p class="section-um-texto">
            Descubra um ambiente virtual feito para leitores como você. 
            Com um acervo diversificado, sistema inteligente de empréstimo e 
            devolução e recomendações personalizadas, a Livrolândia coloca a 
            leitura na ponta dos seus dedos — onde e quando quiser.
        </p>
        <div class="section-um-btn">
            <button (click)="navegarToAcervo()">Explorar Acervo</button>
            <button style="background-color: #fff; color: #000;">
                Criar Conta
            </button>
        </div>
    </div>
    <div class="section-um-dois">
        <img src="assets/img_content.png" alt="img content"/>
    </div>
    </section>
    <section class="section-dois">
        <div class="section-dois-img">
            <img src="assets/img_content_dois.png" alt="img_content_dois" />
        </div>
        <div class="section-dois-dois">
            <p class="section-um-titulo">
                Desbloquei um Universo com a nossa Biblioteca Digital
            </p>
            <p class="section-um-texto">
                Mergulhe em um mundo de conhecimento e imaginação com
                 nosso sistema online. Aqui, você encontra centenas de 
                 livros organizados por categorias, com sinopses completas, 
                 sugestões inteligentes e um processo de empréstimo e 
                 devolução simples e rápido — tudo ao alcance de um clique.
            </p>
            <div class="section-dois-dois-info">
                <div class="section-dois-dois-info-um">
                    <img src="assets/Subheading_one.png" alt="img" />
                <p>
                    Explore milhares de títulos em diferentes gêneros: 
                    literatura, ciência, história, fantasia, autoajuda, 
                    livros acadêmicos e muito mais — tudo reunido em um só lugar.
                </p>
                </div>
                <div class="section-dois-dois-info-dois">
                    <img src="assets/Subheading_two.png" alt="img" />
                <p>
                    Solicite livros com facilidade e devolva dentro do prazo
                    com total praticidade. Receba alertas e acompanhe seu
                    histórico de forma automatizada.
                </p>
                </div>
            </div>
        </div>
    </section>
</section>

