<section>
    <div class="relative w-full h-[333px] bg-[url('assets/img_livrolandia.png')] bg-cover bg-center">
        <div class=" flex flex-col absolute top-1/2 -translate-y-1/2 left-16 text-white font-bold w-[760px]">
            <p
        class="text-white font-bold">
        Biblioteca</p>
            <p class="text-white text-[48px]">Explore nossa coleção</p>
            <p class="text-white font-bold">
                Acompanhe nossos artigos e fique por dentro de temas essenciais, dicas de leitura, 
                gêneros literários e curiosidades sobre o mundo dos livros.
            </p>
        </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 p-6 mx-auto">
        <app-card
            *ngFor="let livro of livros"
            [title]="livro.title"
            [description]="livro.description"
            [ano]="livro.ano"
            [image]="livro.image"
            (verSinopse)="openModal(livro)">
        </app-card>
    </div>

    
    <app-modal [show]="isModalOpen" (close)="closeModal()">
        <h2 class="text-xl font-bold">{{ selectedLivro?.title }}</h2>
        <img *ngIf="selectedLivro?.image" [src]="selectedLivro.image" class="w-[280px] h-[360px] object-center rounded-xl" />
        <p class="mt-2">{{ selectedLivro?.description }}</p>
        <p class="text-sm text-gray-500">{{ selectedLivro?.ano }}</p>
        <p>{{selectedLivro?.sinopse}}</p>
    </app-modal>
    
</section>