@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Roboto, sans-serif;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    font-family: sans-serif;
  }

input {
  @apply w-[480px] h-12 p-2.5 text-base rounded-md border border-gray-300 mb-6;
}

button {
  @apply w-[480px] h-12 bg-black rounded-md text-white cursor-pointer;
}
  
a {
  @apply text-inherit underline;
}

  